<mat-stepper  orientation="vertical" #stepper>
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Escolha seu Pacote Fotográfico</ng-template>
      <div class="ajusta-card">
        <mat-card class="example-card" *ngFor="let pacote of listPacotes">
          <mat-card-header>
            <mat-card-title
              ><strong>{{ pacote.name }}</strong></mat-card-title
            >
          </mat-card-header>
          <mat-card-content>
            <p *ngFor="let item of pacote.description">{{ item }}</p>
            <p>
              <strong>Investimento: R{{ pacote.value | currency }}</strong>
            </p>
          </mat-card-content>
          <br />
          <div>
            <button
              class="ajuste-button"
              color="primary"
              mat-raised-button
              matStepperNext
              (click)="selecionaPacote(pacote)"
            >
              Selecionar
            </button>
          </div>
        </mat-card>
      </div>
      <br />
    </form>
  </mat-step>


  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable" errorMessage="Selecione um Pacote!">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel
        >Complete seu Pacote com Nossos Itens</ng-template
      >
      <div class="ajusta-card">
        <mat-card class="example-card" *ngFor="let item of listItens">
          <mat-checkbox (change)="onCheckboxChange(item)" >

            <mat-card-header>
              <mat-card-title
              ><strong>{{ item.name }}</strong></mat-card-title
              >
            </mat-card-header>
            <mat-card-content>
              <p>{{ item.description }}</p>
              <p>
                <strong>R{{ item.value | currency }}</strong>
              </p>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
          </mat-checkbox>
          </mat-card>
        </div>
      <div class="ajuste-div-botões">
        <button mat-flat-button color="primary" matStepperPrevious>
          Alterar o Pacote
        </button>
        <button mat-flat-button color="primary" matStepperNext (click)="getSelectedItems()" >Avançar</button>
      </div>
      <br />
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Formas de Pagamento</ng-template>
    <div class="pagamento-container">
      <mat-tab-group #tabGroup>
        <mat-tab label="Dinheiro">
          <h2>{{ pacoteSelecionado?.name }}</h2>
          <h3>Itens Adicionais:</h3>
          <div *ngFor="let item of itensSelecionados">
            <mat-card class="card-item">
              <mat-card-content>
                <h3>{{ item?.name }}</h3>
                <p>Descrição: {{ item?.description }}</p>
                <p>Valor: R{{ item.value | currency }}</p>
              </mat-card-content>
            </mat-card>
          </div>
          <p>Valor total: <strong>R{{ valorPacoteComItens | currency }}</strong></p>
          <p>Pagamento pode ser feito via Boleto ou Pix</p>
        </mat-tab>

        <mat-tab label="Cartão de Crédito">
          <h2>{{ pacoteSelecionado?.name }}</h2>
          <h3>Itens Adicionais:</h3>
          <div *ngFor="let item of itensSelecionados">
            <mat-card class="card-item">
              <mat-card-content>
                <h3>{{ item?.name }}</h3>
                <p>Descrição: {{ item?.description }}</p>
                <p>Valor: R{{ item.value | currency }}</p>
              </mat-card-content>
            </mat-card>
          </div>
          <br>
          <mat-form-field>
            <mat-label>Parcelas</mat-label>
            <mat-select (selectionChange)="onSelect($event)">
              <mat-option *ngFor="let option of parcelamento" [value]="option">
                {{ option.parcela }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <p>Pagamento pode ser via link ou máquina de cartão</p>
        </mat-tab>
      </mat-tab-group>

      <div class="ajuste-div-botões">
        <button mat-flat-button color="primary" matStepperPrevious>Alterar Adicionais</button>
        <button mat-flat-button color="primary" matStepperNext (click)="onSomethingClicked()">Selecionar</button>
      </div>
    </div>
  </mat-step>

  <!-- Quarto Passo -->
  <mat-step>
    <ng-template matStepLabel>Finalize seu Orçamento</ng-template>
    <div class="finalizacao-container">
      <h2>{{ pacoteSelecionado?.name }}</h2>
      <h3>Itens Adicionais Selecionados:</h3>
      <div *ngFor="let item of itensSelecionados">
        <mat-card class="card-item">
          <mat-card-content>
            <h3>{{ item?.name }}</h3>
            <p>Descrição: {{ item?.description }}</p>
            <p>Valor: R{{ item.value }}</p>
          </mat-card-content>
        </mat-card>
      </div>
      <p>Forma de pagamento: {{ formaDePagamento }}</p>
      <p *ngIf="formaDePagamento == 'Dinheito'; else cartao">Total: R{{ valorTotal | currency }}</p>
      <ng-template #cartao><p>Total: {{ valorTotal }}</p></ng-template>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Deixe um comentário</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </form>
      <div class="ajuste-div-botões">
        <button mat-flat-button color="primary" matStepperPrevious>Alterar Pagamento</button>
        <button mat-flat-button color="primary" (click)="abrirLinkExterno()">Enviar Orçamento</button>
      </div>
    </div>
  </mat-step>
</mat-stepper>
